.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.headertop {
  width: 100vw;
  height: 5rem;
  background-color: #607274;
  padding: 10px;
}

.header-body {
  background-color: #607274;
}

.NavLink {}

.NavLink:hover {
  opacity: 0.5;
  transition: 0.3s;
}

.Footer {
  width: 100vw;
  height: 5rem;
  background-color: #B2A59B;
  position: absolute;
  bottom: 0;
}

.footer-margin {
  margin-left: 29%;
}

.Contact-container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: #DED0B6;
}

.Contact-left {
  width:40vw;
}

.Contact-right {
  width: 40vw;
}